* {
  box-sizing: border-box;
}

.challenge {
  display: flex;
  flex-direction: column;
}

.caption {
  flex: 1;
}

.preview {
  flex: 1;
}

img.previewImage {
  vertical-align: middle;
}

button.finished {
  height: 64px;
  vertical-align: middle;
}

@media screen and (min-width: 120vh) {
  .challenge {
    flex-direction: row;
  }
}
